.header{
    width: 100%;
    height: 15rem;
    background-color: var(--Gray-700);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.header p {
     font-size: 4rem;
     font-weight: 900;
     color: var(--Blue);
}

.header span{
    color: var(--PurpleDark);
}